/* .App {
  text-align: center;
} */

.SidePage{
  display: flex;
  flex:1;
  justify-content: flex-start;
  align-items: flex-start;
  
  
}
.app{
  height: 50px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid ;
 text-align: center;
 background-color: #204050;

}

.imge{
  float: left;

}
.font{
  float:right;
  padding: 7px;
  color: white;
 
}
.font #icn{
padding-right: 8px;

}
#name{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  font-size: 30px;
  font-weight: bolder;
  color: white;
  margin-top: 2px;
 

}
.Appfooter{
height: 40px;
display: flex;
justify-content: space-evenly;
justify-items: center;

border-top: 1px solid rgba(0, 0, 0, 0.15);


}
.Appfooter #type{
  font-size: 15px;
  font-weight: bold;
}

.sidemenu #icon{
  padding-right: 8px;
}
.pagecontent{
  padding: 15px;
 
  
}
